@keyframes colorChange {
    0% {
        color: #2b2424;
        /* Đỏ */
    }

    25% {
        color: #3e873e;
        /* Xanh lá cây */
    }

    50% {
        color: #1e1e38;
        /* Xanh dương */
    }

    75% {
        color: #c440b0;
        /* Tím */
    }

    100% {
        color: #281232;
        /* Quay lại đỏ */
    }
}

.animate-colorChange {
    animation: colorChange 10s infinite;
    /* Thay đổi thời gian nếu cần */
}

/* Thêm vào file CSS global của bạn */
ul {
    list-style-type: none;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #2563eb;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #2563eb transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}