@keyframes colorChange {
    0% {
        color: #d78888;
        /* Đỏ */
    }

    25% {
        color: #8de58d;
        /* Xanh lá cây */
    }

    50% {
        color: #9696e8;
        /* Xanh dương */
    }

    75% {
        color: #514b1b;
        /* Tím */
    }

    100% {
        color: #e9e0ed;
        /* Quay lại đỏ */
    }
}

.animate-colorChange {
    animation: colorChange 5s infinite;
    /* Thay đổi thời gian nếu cần */
}